[Unit]
Description=Node.js postGraphQl server
Documentation=https://github.com/frasmarco/apiServer
After=network.target
Wants=postgresql.service
AssertPathExists=/var/www/apiServer

[Service]
Environment=NODE_PORT=%i
Type=simple
User=www-data
WorkingDirectory=/var/www/apiServer
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target